@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

main {
  background-color: #AC33FE;
}